@import url("https://fonts.googleapis.com/css?family=Montserrat:600,800|Roboto:300,400,500,700&display=swap");
/* -----------------------------------
    01) RESET STYLES
-------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #666;
}

/*---------------------------------------------------*/
/*	02) HEADER STYLES
/*---------------------------------------------------*/
.header {
  width: 100%;
  height: 80px;
  padding: 0 60px;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.burger-menu {
  display: none;
}

/*---------------------------------------------------*/
/*	02) CONTENT STYLES
/*---------------------------------------------------*/
section {
  width: 100%;
  height: auto;
  padding: 60px;
  padding-top: 20px;
  background-color: #8b8b8b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section:nth-child(even) {
  background-color: #666;
}

section p {
  margin-bottom: 30px;
}

section .left-column {
  width: 66%;
  padding-right: 30px;
}

section .right-column {
  width: 33%;
}

#home {
  display: inline-block;
  margin-top: -100px;
  padding-top: 260px;
  visibility: hidden;
}

#about, #skills, #portfolio, #contact {
  display: inline-block;
  margin-top: -280px;
  padding-top: 230px;
  visibility: hidden;
}

section h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 3em;
}

.number-block {
  width: 150px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
  background-color: #0CEB00;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.number-block span {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.about_container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_container img {
  max-width: 300px;
}

/*---------------------------------------------------*/
/*	02) FOOTER STYLES
/*---------------------------------------------------*/
footer {
  height: 300px;
  background-color: #000;
  color: #fff;
  padding: 80px;
}

/*---------------------------------------------------*/
/*	02) MEDIA QUERY STYLES
/*---------------------------------------------------*/
@media screen and (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header {
    padding: 0;
  }
  .brand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    background-color: #000;
    z-index: 101;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu {
    margin-top: -600px;
    width: 100%;
    background-color: #ff0099;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .menu.slide {
    margin-top: 80px;
  }
  .menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .menu ul li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #fff;
  }
  .menu ul li a {
    display: block;
  }
  .menu ul li a:hover {
    background-color: orange;
  }
  .burger-menu {
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 102;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
/*# sourceMappingURL=style.css.map */