@import url("https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300,400,500,700&display=swap");
/* -----------------------------------
    01) RESET STYLES
-------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #666;
}

svg {
  fill: currentcolor;
  width: 15px;
  height: 15px;
}

img.svg {
  width: 15px;
  height: 15px;
}

.wrapper_all,
section,
content {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------------------*/
/*	02) HEADER STYLES
/*---------------------------------------------------*/
.header {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: fixed;
  top: 0px;
  z-index: 100;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header.scroll {
  background-color: #666;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.header.scroll .navigation_wrap .menu > ul > li a {
  color: #fff;
}

.header.scroll .navigation_wrap .social_icons_wrap > ul > li a {
  color: #fff;
}

.header.scroll .navigation_wrap .menu > ul > li a:hover {
  color: #2bff00;
}

.header.scroll .navigation_wrap .social_icons_wrap > ul > li a:hover {
  color: #2bff00;
}

.navigation_wrap,
.navigation_wrap .navigation_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation_wrap {
  min-height: 38px;
  line-height: 38px;
  padding: 35px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header.scroll .navigation_wrap {
  padding: 24px 0;
}

.navigation_wrap .navigation_inner {
  position: relative;
}

.navigation_wrap .logo {
  position: absolute;
  left: 0px;
  top: -3px;
}

.navigation_wrap .nav_list_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation_wrap .menu > ul {
  margin: 0px;
  list-style-type: none;
}

.navigation_wrap .menu > ul > li {
  margin: 0 30px 0 0;
  display: inline-block;
}

.navigation_wrap .menu > ul > li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation_wrap .menu > ul > li a:hover {
  color: #2bff00;
}

.navigation_wrap .social_icons_wrap {
  position: absolute;
  right: 0px;
  top: 0px;
}

.navigation_wrap .social_icons_wrap > ul {
  margin: 0px;
  list-style-type: none;
}

.navigation_wrap .social_icons_wrap > ul > li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.navigation_wrap .social_icons_wrap > ul > li:last-child {
  margin-right: 0px;
}

.navigation_wrap .social_icons_wrap > ul > li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation_wrap .social_icons_wrap > ul > li a:hover {
  color: #2bff00;
}

/*---------------------------------------------------*/
/*	03) MOBILE MENU STYLES
/*---------------------------------------------------*/
.mobile_menu_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #666;
  padding: 50px 20px;
  display: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  border-top: 1px solid rgba(255, 255, 255, 0.09);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile_menu_wrap .mob_menu {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile_menu_wrap .mob_menu > ul {
  margin: 0;
  list-style-type: none;
}

.mobile_menu_wrap .mob_menu > ul > li {
  margin: 0 0 10 0;
}

.mobile_menu_wrap .mob_menu > ul > li:last-child {
  margin-bottom: 0px;
}

.mobile_menu_wrap .mob_menu > ul > li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

/*---------------------------------------------------*/
/*	04) HAMBURGER STYLES
/*---------------------------------------------------*/
.trigger {
  position: absolute;
  right: 0px;
  top: 11px;
  display: none;
}

.trigger .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.trigger .hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.trigger .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.trigger .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #333333;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  border-radius: 4px;
}

.trigger .hamburger-inner::before,
.trigger .hamburger-inner::after {
  content: '';
  display: block;
}

.trigger .hamburger-inner::before {
  top: -8px;
}

.trigger .hamburger-inner::after {
  bottom: -10px;
}

.trigger .hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.trigger .hamburger--collapse-r .hamburger-inner::after {
  top: -16px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.trigger .hamburger--collapse-r .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.trigger .hamburger--collapse-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(45deg);
          transform: translate3d(0, -10px, 0) rotate(45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.trigger .hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.trigger .hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.trigger .hamburger {
  padding: 0px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.trigger .hamburger-box {
  display: block;
}

.trigger .hamburger .hamburger-inner::before,
.trigger .hamburger .hamburger-inner::after,
.trigger .hamburger .hamburger-inner {
  background-color: #fff;
  width: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*---------------------------------------------------*/
/*	16) EDINA MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/
@media (max-width: 1400px) {
  .to_top_wrap {
    position: relative;
    float: right;
    bottom: 61px;
  }
  .to_top_wrap.opened {
    bottom: 61px;
  }
}

@media (max-width: 1200px) {
  .about_wrap .rightbox {
    padding: 0px 70px 0px 0px;
  }
  .list_wrap[data-column='5'] ul.total > li {
    width: 25%;
  }
}

@media (max-width: 1040px) {
  .trigger {
    display: block;
  }
  .navigation_wrap .nav_list_wrap {
    display: none;
  }
  .navigation_wrap .logo {
    position: relative;
    top: -1px;
  }
  .navigation_wrap {
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .list_wrap[data-column='4'] ul.total > li {
    width: 33.3333%;
  }
  .list_wrap[data-column='5'] ul.total > li {
    width: 33.3333%;
  }
  .about_wrap .rightbox {
    padding: 0px 50px 0px 0px;
  }
  .hero_header .hero_title .first {
    font-size: 42px;
  }
  .universal_box_wrap .hero_title.homepage_third h3 {
    font-size: 42px;
  }
  .animation_text_word {
    font-size: 18px;
  }
  #popup_blog .close {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .navigation_wrap {
    padding: 25px 0px;
  }
  .about_wrap .leftbox {
    display: none;
  }
  .about_wrap .rightbox {
    width: 100%;
    padding: 0px;
  }
  .about_wrap .rightbox .name_holder {
    text-align: center;
  }
  .about_wrap .definition {
    text-align: center;
  }
  .about_wrap .sharebox {
    text-align: center;
  }
  .list_wrap[data-column='3'] ul.total > li {
    width: 50%;
  }
  .list_wrap[data-column='4'] ul.total > li {
    width: 50%;
  }
  .list_wrap[data-column='5'] ul.total > li {
    width: 50%;
  }
  .portfolio_filter li {
    margin: 0px 15px 0px 0px;
  }
  .portfolio_list > li {
    width: 50%;
  }
  .contact_wrap .short_contact ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  .main_title_holder_wrap .number_wrap {
    width: 130px;
    height: 70px;
    line-height: 70px;
  }
  .main_title_holder_wrap .number_wrap span {
    font-size: 36px;
  }
  .main_title_holder_wrap .title_wrap span {
    font-size: 36px;
  }
  .main_title_holder_wrap {
    padding-bottom: 75px;
  }
  .universal_box_wrap .content.partners {
    padding: 60px 0px;
  }
  .hero_header .hero_title .first {
    font-size: 33px;
  }
  .universal_box_wrap .hero_title.homepage_third h3 {
    font-size: 33px;
  }
  .universal_box_wrap .hero_title.homepage_third span {
    font-size: 15px;
  }
  .animation_text_word {
    font-size: 17px;
  }
  .main_demos_list_wrap ul li {
    width: 50%;
  }
  .about_wrap.homepage_second .rightbox {
    padding-left: 0px;
  }
}

@media (max-width: 480px) {
  .navigation_wrap {
    padding: 20px 0px;
  }
  .top_bar_wrap ul li {
    margin: 0px;
  }
  .list_wrap[data-column='2'] ul.total > li {
    width: 100%;
  }
  .list_wrap[data-column='3'] ul.total > li {
    width: 100%;
  }
  .list_wrap[data-column='4'] ul.total > li {
    width: 100%;
  }
  .list_wrap[data-column='5'] ul.total > li {
    width: 100%;
  }
  .portfolio_list {
    margin-left: 0px;
  }
  .portfolio_list > li {
    width: 100%;
    padding-left: 0px;
  }
  .to_top_wrap {
    right: 0px;
  }
  .discover_wrap {
    right: 12px;
  }
  .news_wrap .date_wrap p {
    font-size: 13px;
  }
  .news_wrap .date_wrap p a {
    font-size: 13px;
  }
  .news_wrap .title_holder h3 a {
    font-size: 20px;
  }
  .main_title_holder_wrap .number_wrap {
    width: 115px;
    height: 60px;
    line-height: 60px;
  }
  .main_title_holder_wrap .number_wrap span {
    font-size: 32px;
  }
  .main_title_holder_wrap .title_wrap span {
    font-size: 32px;
  }
  .main_title_holder_wrap {
    padding-bottom: 65px;
  }
  .universal_box_wrap .content.partners {
    padding: 50px 0px;
  }
  .hero_header .hero_title .first {
    font-size: 23px;
  }
  .universal_box_wrap .hero_title.homepage_third h3 {
    font-size: 20px;
  }
  .universal_box_wrap .hero_title.homepage_third span {
    font-size: 12px;
  }
  .animation_text_word {
    font-size: 15px;
  }
  .main_demos_list_wrap ul {
    margin-left: 0px;
  }
  .main_demos_list_wrap ul li {
    width: 100%;
    padding: 0px;
  }
  .container {
    padding: 0px 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */