/*---------------------------------------------------*/
/*	SKILLS - ANIMATIONS
/*---------------------------------------------------*/

@keyframes slide-95 {
  from {
    width: 0;
  }

  to {
    width: 95%;
  }
}

@keyframes slide-90 {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes slide-85 {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

@keyframes slide-80 {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

@keyframes slide-75 {
  from {
    width: 0;
  }

  to {
    width: 75%;
  }
}

@keyframes slide-70 {
  from {
    width: 0;
  }

  to {
    width: 70%;
  }
}

@keyframes slide-60 {
  from {
    width: 0;
  }

  to {
    width: 60%;
  }
}

@keyframes slide-50 {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

@keyframes slide-40 {
  from {
    width: 0;
  }

  to {
    width: 40%;
  }
}