/*---------------------------------------------------*/
/*	CONTENT STYLES
/*---------------------------------------------------*/

section {
  width: 100%;
  height: auto;
  padding: 60px 60px 100px 60px;
  padding-top: 20px;
  background-color: $really-dark-grey;
  @include box-sizing;

  &:nth-child(even) {
    background-color: $really-really-dark-grey;
  }

  p {
    margin-bottom: 30px;
  }
  
}

.section-container {
  max-width: 1100px;
  margin: 0 auto;

  &__header {
    margin-bottom: 40px;
  }
}

.section-content__rule {
  display: block;
  width: 35%;
  height: 1px;
  margin: 50px auto;
  color: transparent;
  border: none;
  border-top: 1px solid $dark-grey;
}

#home {
  display: inline-block;
  margin-top: -100px;
  padding-top: 260px;
  visibility: hidden;
}

#about, #skills, #portfolio, #contact {
  display: inline-block;
  margin-top: -280px;
  padding-top: 275px;
  visibility: hidden;
}

section h1 {
  font-family: $heading-font;
  font-weight: 400;
  color: $really-light-grey;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;

  .alternate-color-heading {
    color: $medium-grey;
    font-weight: 300;
  }

  .alternate-color-heading-hero {
    color: $dark-grey;
    font-weight: 500;
  }
}

.header-line {
  display: block;
  width: 80px;
  height: 1px;
  margin: 50px auto;
  color: transparent;
  border: none;
  border-top: 2px solid $primary-portfolio-color;

}

section h2 {
  font-family: $heading-font;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.number-block {
  width: 150px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 10px;
  background-color: $primary-portfolio-color;
  background: linear-gradient(180deg, rgba(12,235,0,1) 0%, rgba(35, 136, 2,1) 100%);
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
  @include box-sizing;

  & span {
    font-family: $heading-font;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}